# Custom workflow to build .NET Framework DLL, just does a build, and will run tests in future after I write the tests

name: Build .NET Framework DLL

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      
    - name: Checkout SwordfishCollections
      uses: actions/checkout@v2.1.0

    - name: Setup msbuild
      uses: microsoft/setup-msbuild@v1
  
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@v1.0.2
    
    - name: Restore NuGet Packages
      run: nuget restore Swordfish.NET.Collections.sln
      
    - name: Build Debug DLL
      run: msbuild Swordfish.NET.Collections.sln /p:Configuration=Debug

    - name: Build Release DLL
      run: msbuild Swordfish.NET.Collections.sln /p:Configuration=Release
